* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-color: rgb(1, 1, 83);
}
.main{
    background-color: rgb(1, 1, 83);
    width: 75%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.card-1{
    /* background-color: aqua; */
    position: relative;
    width: 250px;
    height: 500px;
}
.card-1-inner-1{
    background-color: #1E204C;
    width: 250px;
    height: 518px;
    border-radius: 20px;
}
.card-1-inner-2{
    background-color: #5647EA;
    width: 250px;
    height: 370px;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    /* z-index: -1; */
}
.six-card-container{
    /* background-color: aqua; */
    width: 800px;
    height: 500px;
}
.three-card-container-top{
    /* background-color: aquamarine; */
    width: 800px;
    height: 250px;
    display: flex;
    gap: 2%;
    padding-bottom: 2%;
}
.three-card-container-bottom{
    /* background-color: bisque; */
    width: 800px;
    height: 250px;
    display: flex;
    gap: 2%;
    
}
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7{
    /* background-color: brown; */
    position: relative;
    width: 33%;
    height: 250px;
}
.card-2-inner-1,
.card-3-inner-1,
.card-4-inner-1,
.card-5-inner-1,
.card-6-inner-1,
.card-7-inner-1{
    background-color: orange;
    width: 100%;
    height: 250px;
    border-radius: 20px;
}
.card-2-inner-2,
.card-3-inner-2,
.card-4-inner-2,
.card-5-inner-2,
.card-6-inner-2,
.card-7-inner-2{
    background-color: #1E204C;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    /* z-index: -1; */
}
.card-3-inner-1{
    background-color: rgb(97, 201, 241);
}
.card-4-inner-1{
    background-color: lightcoral;
}
.card-5-inner-1{
    background-color: lightgreen;
}
.card-6-inner-1{
    background-color: violet;
}
.card-7-inner-1{
    background-color: yellow;
}
.card-1-head-1{
    padding-top: 380px;
}
.card-1-head-1,
.card-1-head-2,
.card-1-head-3{
    padding-left: 20px;
    font-size: 18px;
    color: rgb(78, 76, 76);
    padding-bottom: 20px;
    
}
.card-1-head-2{
    color: white;
}
.card-1-img{
    width: 70px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 30px;
    border: 2px solid white;
}
.card-1-pera,
.card-1-name{
    padding-left: 30px;
    color: white;
}
.card-1-pera{
    padding-top: 30px;
}
.icon-1{
    padding-left: 190px;
    transform: rotate(45deg);
    position: absolute;
    top: -80px;
    left: 20px;
    opacity: 0.1;
}
.small-card-p-1{
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}
.small-card-h{
    padding-bottom: 25px;
    padding-left: 20px;
    font-size: 35px;
    color: white;
}
.small-card-p-2{
    padding-left: 20px;
    font-size: 20px;
    color: white;
}